@import "global";
@import "chevron";
@import "twitter";
@import "instagram";
@import "edit";
@import "rotate";
@import "weather";
@import "weatherOverCast";

// Rain
#overcast-sun {
    animation: sun-arrive;
    animation-delay: 0s;
}

#ray-1 {
    animation: ray-shine;
    animation-delay: 1s;

}
#ray-2 {
    animation: ray-shine;
    animation-delay: 1.1s;
}
#ray-3 {
    animation: ray-shine;
    animation-delay: 1.2s;
}
#ray-4 {
    animation: ray-shine;
    animation-delay: 1.3s;
}

#overcast-sun,
#ray-1,
#ray-2,
#ray-3,
#ray-4 {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

// Rain
@keyframes sun-arrive {
    0% {
        transform: translateX(-2px);
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}
@keyframes ray-shine {
    0% {
        stroke: transparent;
    }
    90% {
        stroke: white;
    }
}
